@{
    ViewData["Title"] = "Change password";
}

@await Html.PartialAsync("Partials/InvoicesNav")

<article class="content">
    <section class="section section--lead">
        <div class="container">
            <div class="relative hidden-xs hidden-sm">
                <button onclick="history.go(-1)" class="btn btn--link btn_back">
                    <i class="icon icon--back_arrow"></i>
                    Back
                </button>
            </div>

            <div class="row">
                <div class="col-sm-8 col-md-6 automargin">
                    <lp-change-password></lp-change-password>
                </div>
            </div>
        </div>
    </section>
</article>

@section Scripts {
    @await Html.PartialAsync("Partials/ng2scripts")
}
