@using Common

@{
    ViewData["Title"] = "Password reset or creation";
    var initModelJson = new { token = ViewBag.Token }.ToJson();
}

<article class="content" 
         ng-controller="resetPasswordCtrl as vm"
         ng-init="vm.handlers.init(@initModelJson)"
         ng-cloak>
    <section class="section section--lead">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 automargin">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="form_status">
                            <div class="error_page">
                                <span class="status_icon status_icon--warning"></span> 
                            </div>
                            <h2>Token is invalid or expired.</h2>
                            <p>
                                You can contact our support for assistance:
                                <a href="mailto:support@lykke.com">support@lykke.com</a>
                            </p>
                            <div class="form_status__button text-center">
                                <a href="@Url.Action("Index", "Home")" class="btn">Go Home</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h2>Create password</h2>

                        <form onsubmit="event.preventDefault();" novalidate>
                            <div class="form-group">
                                <label class="control-label">New password</label>
                                <div class="input-group" ng-class="{'input-group--error': vm.form.errors.password}">
                                    <input type="{{vm.view.isVisiblePassword ? 'text' : 'password'}}"
                                           autofocus 
                                           class="form-control"
                                           ng-model="vm.model.password"
                                           ng-change="vm.handlers.validatePassword()">
                                    <i class="icon icon--show_password input-group-addon" ng-hide="vm.view.isVisiblePassword" ng-click="vm.handlers.toggleVisibilityPassword()"></i>
                                    <i class="icon icon--hide_password input-group-addon" ng-show="vm.view.isVisiblePassword" ng-click="vm.handlers.toggleVisibilityPassword()"></i>
                                </div>
                                <div class="hint hint--error" ng-show="vm.form.errors.password">Required</div>
                                @*TODO: if needed
        <div class="hint hint--error" ng-show="">The password length should not be less than 8 characters. Include both an uppercase letter (A-Z), lowercase (a-z) and a number</div>
                                *@
                            </div>
                            <div class="form-group">
                                <label class="control-label">Re-enter password</label>
                                <div class="input-group" ng-class="{'input-group--error': vm.form.errors.reenterPassword || vm.form.errors.reenterPasswordNotEqual}">
                                    <input type="{{vm.view.isVisibleReenterPassword ? 'text' : 'password'}}"
                                           class="form-control"
                                           ng-model="vm.model.reenterPassword"
                                           ng-change="vm.handlers.validateReenterPassword()">
                                    <i class="icon icon--show_password input-group-addon" ng-hide="vm.view.isVisibleReenterPassword" ng-click="vm.handlers.toggleVisibilityReenterPassword()"></i>
                                    <i class="icon icon--hide_password input-group-addon" ng-show="vm.view.isVisibleReenterPassword" ng-click="vm.handlers.toggleVisibilityReenterPassword()"></i>
                                </div>
                                <div class="hint hint--error" ng-show="vm.form.errors.reenterPassword">Required</div>
                                <div class="hint hint--error" ng-show="vm.form.errors.reenterPasswordNotEqual">The password you re-entered is not equal</div>
                            </div>
                            <div class="hint hint--error" ng-show="vm.form.errors.submitError">Token is invalid or expired.</div>
                            <div class="submit-group">
                                <button class="btn btn--primary" 
                                        type="submit" 
                                        ng-click="vm.handlers.submit()"
                                        ng-disabled="vm.view.isLoading">Submit</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
</article>