@{
    ViewData["Title"] = "Settings";
}

@await Html.PartialAsync("Partials/InvoicesNav")

<article class="content">
    <section class="section section--lead">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-6 automargin">
                    <lp-settings></lp-settings>
                </div>
            </div>
        </div>
    </section>
</article>