<span data-ng-if="vm.timer.seconds > 60">{{vm.timer.mins}} {{vm.timer.mins === 1 ? 'minute' : 'minutes'}}</span>
<span data-ng-if="vm.timer.seconds > 0 && vm.timer.seconds <= 60">{{vm.timer.seconds}} seconds</span>