<div *ngIf="view.isLoading">
  <div class="spinner">
    <div class="spinner__inside"></div>
  </div>
</div>

<div class="page_settings"
     *ngIf="view.isContentLoaded">
  <h2 class="page__title">{{model.merchantDisplayName}}</h2>

  <div class="form_settings">
    <h3>Account</h3>

    <div class="form-group">
      <label class="control-label">Full name</label>
      <div class="input-group">
        <input type="text"
               class="form-control form_settings__info"
               disabled
               [ngModel]="model.employeeFullname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Email address</label>
      <div class="input-group">
        <input type="text"
               class="form-control form_settings__info"
               disabled
               [ngModel]="model.employeeEmail">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Password</label>
      <div class="input-group ">
        <input type="password"
               class="form-control"
               disabled
               value="••••••••">
      </div>
      <button (click)="goToChangePassword()"
              class="btn btn--flat">Change password</button>
    </div>

    <h3>Primary asset</h3>

    <p>The asset used to display total balance of all your paid and unpaid invoices.</p>

    <!-- TODO: make new component -->
    <div class="form-group">
      <label class="control-label">Asset</label>
      <div class="form_selectpicker">
        <select data-selectpicker=""
                data-size="10"
                data-live-search="false"
                data-live-search-placeholder="Asset name"
                data-tabindex="-98">
          <option label="USD"
                  value="string:USD">USD</option>
          <option label="EUR_dev"
                  value="string:EUR">EUR_dev</option>
          <option label="CHF_dev"
                  value="string:CHF">CHF_dev</option>
        </select>
      </div>
    </div>

    <h3>API key</h3>

    <div class="form-group">
      <label class="control-label">Merchant ID</label>
      <div class="input-group">
        <input type="text"
               class="form-control form-control--readonly"
               value="{{model.merchantId}}"
               readonly>
        <!-- TODO: make copy to clipboard -->
        <i class="icon icon--copy input-group-addon"></i>
      </div>
    </div>
    <div *ngIf="view.isLoadingChangeAsset">
      <div class="spinner">
        <div class="spinner__inside"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Merchant API key</label>
      <div class="input-group">
        <input type="text"
               class="form-control form-control--readonly"
               value="{{model.merchantApiKey}}"
               readonly>
        <!-- TODO: make copy to clipboard -->
        <i class="icon icon--copy input-group-addon"></i>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">Merchant Secret</label>
      <div class="input-group"
           *ngIf="view.showRsaPrivateKey">
        <textarea type="text"
                  class="form-control form-control--readonly"
                  readonly
                  [ngModel]="model.rsaPrivateKey"></textarea>
        <!-- TODO: make copy to clipboard -->
        <i class="icon icon--copy input-group-addon"></i>
      </div>

      <div class="hint">Please be aware, we don’t store Merchant Secret on our servers. Every time you push ‘Generate
        new’, new key is generated, the previous key becomes obsolete.</div>

      <button class="btn btn--primary"
              type="button"
              *ngIf="!model.hasPublicKey && !view.isLoadingGenerateRsaKeys"
              (click)="generateRsaKeys()">Generate</button>
      <button class="btn btn--default"
              type="button"
              *ngIf="model.hasPublicKey && !view.isLoadingGenerateRsaKeys"
              (click)="generateRsaKeys()">Re-generate</button>
      <div *ngIf="view.isLoadingGenerateRsaKeys">
        <div class="spinner">
          <div class="spinner__inside"></div>
        </div>
      </div>
    </div>

    <h3>Delete account</h3>

    <p>Permanently delete your account and all of your content.</p>

    <!-- TODO: make delete account -->
    <button class="btn btn--flat btn--red">
      <i class="icon icon--trash"></i>
      Delete your account
    </button>
    <div *ngIf="view.isLoadingDeleteAccount">
      <div class="spinner">
        <div class="spinner__inside"></div>
      </div>
    </div>
  </div>
</div>
