<div class="profile_balance">
  <div class="profile_info__header">Lykke Pay balance</div>
  <div class="profile_balance__value">
      <span class="profile_balance__number">0.00</span>
      <span class="profile_balance__currency">{{baseAsset.displayId}}</span>
  </div>
  <div class="profile_controls">
      <button class="btn _create_invoice_btn" data-ng-click="vm.handlers.create()">
          <i class="btn__svg_icon svg_icon svg_icon--add svg_icon--margin"></i>
          New invoice
      </button>
  </div>
</div>
