@using Lykke.Service.PayInvoicePortal.Models.Auth
@model SignInViewModel
@{
    ViewData["Title"] = "Invoices for live";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<article class="content">
    <section class="section section--lead">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 automargin">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="section_header">
                                <h1 class="section__title">LykkePay</h1>
                                <p>Invoice your customers over the world in Crypto<br /> and FIAT currencies and receive payments in<br /> asset of choice.</p>
                            </div>

                            @using (Html.BeginForm(FormMethod.Post, htmlAttributes: new { @class = "form form_register" }))
                            {
                                <h4>Sign in</h4>

                                <div class="form-group">
                                    <div class="input-group">
                                        <i class="icon icon--email input-group-addon"></i>
                                        <input type="email" asp-for="Login" placeholder="E-mail address" class="form-control" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}$" title="Wrong email format">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group @(!ViewData.ModelState.IsValid ? "input-group--error" : "")">
                                        <i class="icon icon--lock input-group-addon left"></i>
                                        <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                                        <!-- TODO toggle icon classes and input type, show icon if input has value-->
                                        <i class="icon icon--show_password input-group-addon"></i>
                                        <!--<i class="icon icon--hide_password input-group-addon"></i>-->
                                    </div>
                                    @if (!ViewData.ModelState.IsValid)
                                    {
                                        <div class="hint hint--error">The username or password you entered is incorrect</div>
                                    }
                                </div>
                                <div class="submit-group">
                                    <button class="btn btn--primary btn-block" type="submit">Sign in</button>
                                </div>
                            }
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="features_list">
                                <div class="features_item">
                                    <div class="features_item__img">
                                        <img src="/img/balance_icn.svg" alt="balance" width="82px">
                                    </div>
                                    <div class="features_item__content">
                                        <div class="features_item__title">Balance</div>
                                        <div class="features_item__text">
                                            See the account balance updated immediately
                                        </div>
                                    </div>
                                </div>
                                <div class="features_item">
                                    <div class="features_item__img">
                                        <img src="/img/refund_icn.svg" alt="refund" width="82px">
                                    </div>
                                    <div class="features_item__content">
                                        <div class="features_item__title">Refund</div>
                                        <div class="features_item__text">
                                            No matter what digital wallet is used, If something goes wrong we will give a refund
                                        </div>
                                    </div>
                                </div>
                                <div class="features_item">
                                    <div class="features_item__img">
                                        <img src="/img/multiple_icn.svg" alt="multiple" width="82px">
                                    </div>
                                    <div class="features_item__content">
                                        <div class="features_item__title">Multiple</div>
                                        <div class="features_item__text">
                                            Accept multiple crypto currencies that can be immediately exchanged to an asset of choice
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</article>