@using Lykke.Service.PayInvoicePortal.Models.Auth
@model SignInViewModel
@{
    ViewData["Title"] = "Invoices for live";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<article class="">
    <div class="container-full">
        <div class="welcome">
            <div class="row">
                <div class="col-xs-6 welcome__left">
                    <div class="welcome__title">LykkePay</div>
                    <div class="welcome__subtitle">
                        Invoice your customers over the world in Crypto<br /> and FIAT currencies and receive payments in<br /> asset of choice.
                    </div>
                    @using (Html.BeginForm())
                    {

                        <div class="welcome__form">
                            <div class="welcome__form-title">Sign in</div>
                            <div class="welcome__input">
                                <i class="icon icon--email"></i>
                                <input type="text" asp-for="Login" placeholder="E-mail" class="form-control">
                            </div>
                            <div class="welcome__input">
                                @if (!ViewData.ModelState.IsValid)
                                {
                                    <div class="Rectangle-6"></div>
                                }
                                <i class="icon icon--lock"></i>
                                <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                            </div>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="The-username-or-pass">The e-mail or password you entered incorrect</div>
                            }
                            <button type="submit" name="button" class="btn welcome__button">Sign in</button>
                        </div>
                    }
                </div>
                <div class="col-xs-6 welcome__right">
                    <div class="welcome__item welcome__item--balance">
                        <div class="welcome__item-title">Balance</div>
                        <div class="welcome__item-text">See the account balance updated immediately</div>
                    </div>
                    <div class="welcome__item welcome__item--refund">
                        <div class="welcome__item-title">Refund</div>
                        <div class="welcome__item-text">No matter what digital wallet is used, If something goes wrong we will give a refund</div>
                    </div>
                    <div class="welcome__item welcome__item--multiple">
                        <div class="welcome__item-title">Multiple</div>
                        <div class="welcome__item-text">Accept multiple crypto currencies that can be immediately exchanged to an asset of choice</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>