<div class="profile_summary">
  <div class="profile_info__header">
      Received 0.00 {{baseAsset}}
      <button class="profile_info__header_help _payments_summary_btn" style="display: none">
          <i class="btn__svg_icon svg_icon svg_icon--help"></i>
      </button>
  </div>
  <div class="profile_info__link" style="display: none">
      <a href="volatility.html">Volatility shield</a>
  </div>
  <div class="profile_summary__list clearfix">
      <div class="profile_summary__left">
          <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">
                  Settled
                  <a href="#" style="display: none" class="btn btn--icon"><i class="icon icon--help_outline"></i></a>
              </div>
              <div class="profile_summary__status_value">0.00 {{baseAsset}}</div>
          </div>
          <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">Commission</div>
              <div class="profile_summary__status_value">0.00 {{baseAsset}}</div>
          </div>
      </div>
      <div class="profile_summary__right">
          <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">
                  Unresolved
              </div>
              <div class="profile_summary__status_value">0.00 {{baseAsset}}</div>
          </div>
          <div class="profile_summary__item clearfix">
              <div class="profile_summary__status_name">
                  Refunded
              </div>
              <div class="profile_summary__status_value">0.00 {{baseAsset}}</div>
          </div>
      </div>
  </div>
</div>
