@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Microsoft.AspNetCore.Html
@using Lykke.Service.PayInvoicePortal.Models.Invoices
@using Lykke.Service.PayInvoicePortal.Models.Home.Template

@model Lykke.Service.PayInvoicePortal.Models.Home.HomeViewModel
@{
    ViewData["Title"] = "Invoices";

    async Task<IHtmlContent> StatItemAsync(string status)
    {
        return await Html.PartialAsync("Partials/HomeStatisticItem", new HomeStatisticItemModel(status));
    }
}

@if (User.Identity.IsAuthenticated)
{
    @await Html.PartialAsync("Partials/InvoicesNav")
}

<div data-ng-controller="invoiceCtrl as vm" ng-cloak>
    @await Html.PartialAsync("Partials/InvoiceEditTemplate", new InvoiceEditTemplateModel { IsNewInvoice = true })
</div>

@await Html.PartialAsync("Partials/HomeSummaryStatistic")

@await Html.PartialAsync("/Views/Partials/InvoiceInfo.cshtml")

<article class="content"
         data-ng-controller="invoicesCtrl as vm"
         ng-cloak>
    <div data-ng-if="vm.model.isFirstLoading"
         class="main-page-loader">
        <div class="spinner spinner--inline">
            <div class="spinner__inside"></div>
        </div>
    </div>
    <section class="section section--lead"
             data-ng-hide="vm.model.isFirstLoading">
        <div class="container">
            <div class="profile_info">
                <div class="row">
                    <div class="col-md-4 col-sm-5">
                        <div class="profile_balance">
                            <div class="profile_info__header">Current balance</div>
                            <div class="profile_balance__value">
                                @* TODO: make calculation for overpaid, underpaid, latepaid *@
                                @*<span class="profile_balance__number">{{vm.model.balance | nzcurrency : vm.baseAssetAccuracy}}</span>*@
                                <span class="profile_balance__number">0</span>
                                <span class="profile_balance__currency">{{vm.model.baseAsset}}</span>
                            </div>
                            <div class="profile_controls">
                                <button class="btn _create_invoice_btn" data-ng-click="vm.handlers.create()">
                                    <i class="btn__svg_icon svg_icon svg_icon--add svg_icon--margin"></i>
                                    New invoice
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="profile_summary">
                            <div class="profile_info__header">
                                Summary
                                <button class="profile_info__header_help"
                                        data-ng-click="vm.statistic.handlers.openSummaryStatistic()">
                                    <i class="btn__svg_icon svg_icon svg_icon--help"></i>
                                </button>
                            </div>
                            <div class="profile_summary__list clearfix">
                                <div class="profile_summary__left">
                                    @await StatItemAsync("Paid")
                                    @await StatItemAsync("Unpaid")
                                    @await StatItemAsync("PastDue")
                                </div>
                                <div class="profile_summary__right">
                                    @await StatItemAsync("Underpaid")
                                    @await StatItemAsync("Overpaid")
                                    @await StatItemAsync("LatePaid")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="vm.view.hasInvoices">
                <div class="col-sm-6">
                    <h3>Invoices</h3>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="invoice_controls">
                        <button class="invoice_controls__btn btn btn--flat btn--default btn-sm pull-left" type="button"
                                data-ng-click="vm.handlers.exportToCsv()">
                            <i class="btn__svg_icon svg_icon svg_icon--download svg_icon--margin"></i>
                            CSV file
                        </button>
                    </div>
                </div>
            </div>
            <div class="invoice_nav" data-ng-show="vm.view.hasInvoices" data-ng-if="!vm.model.isFirstLoading">
                <button class="invoice_nav__search btn btn--icon" data-ng-click="vm.filter.handlers.toggle()">
                    <i class="icon icon--search"></i>
                </button>
                <div class="invoice_tabs" tabs-carousel>
                    <button class="invoice_tabs__arrow invoice_tabs__arrow--left"></button>
                    <div class="invoice_tabs__carousel owl-carousel">
                        <div class="invoice_tabs__item">
                            <a class="invoice_tabs__tab invoice_tabs__tab--active"
                               href="javascript:;"
                               data-ng-class="{'invoice_tabs__tab--active': !vm.filter.status}"
                               data-ng-click="vm.filter.handlers.clearStatus()">
                                <span>All &middot; {{vm.filter.total}}</span>
                            </a>
                        </div>
                        <div class="invoice_tabs__item"
                             data-ng-repeat="status in vm.filter.statuses"
                             data-ng-show="status.count > 0">
                            <a class="invoice_tabs__tab"
                               href="javascript:;"
                               data-ng-class="{'invoice_tabs__tab--active': vm.filter.status == status.id}"
                               data-ng-click="vm.filter.handlers.selectStatus(status)">
                                <span>{{status.title}} &middot; {{status.count}}</span>
                            </a>
                        </div>
                    </div>
                    <button class="invoice_tabs__arrow invoice_tabs__arrow--right"></button>
                </div>
            </div>
            <div class="search_filter" data-ng-show="vm.view.hasInvoices"
                 data-ng-class="{'search_filter--show': vm.filter.show}">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group select">
                            <select class="form-control" ng-model="vm.filter.period" ng-options="period.id as period.title for period in vm.filter.periods"></select>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-8">
                        <div class="input-search input-search--index">
                            <button class="btn btn--icon">
                                <img data-ng-show="vm.view.isSearching" src="img/processing.gif" />
                                <i data-ng-hide="vm.view.isSearching" class="icon icon--search"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Number or client email..." data-ng-model="vm.filter.search" data-ng-model-options="{ debounce: 500 }">
                            <button class="btn btn--icon" data-ng-click="vm.filter.handlers.clear()"><i class="icon icon--cancel_round"></i></button>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-1">
                        <button type="button" class="btn btn--link" data-ng-click="vm.filter.handlers.close()">Cancel</button>
                    </div>
                </div>
            </div>

            <div data-ng-show="vm.view.isLoading">
                <div class="spinner">
                    <div class="spinner__inside"></div>
                </div>
            </div>

            <div class="tab-content" data-ng-show="vm.view.hasInvoices">
                <div class="tab-pane active">
                    <div class="table-responsive">
                        <table class="table table_invoices" data-ng-hide="vm.view.showNoResults">
                            <tr class="invoices__row" data-ng-hide="">
                                <th class="_number invoices__cell" data-ng-click="vm.handlers.sort('Number')">Invoice number, date</th>
                                <th class="_client invoices__cell" data-ng-click="vm.handlers.sort('ClientName')">Client</th>
                                <th class="_amount invoices__cell" data-ng-click="vm.handlers.sort('Amount')" style="text-align: right">Amount</th>
                                <th class="_currency invoices__cell" data-ng-click="vm.handlers.sort('SettlementAssetId')">Currency</th>
                                <th class="_status invoices__cell" data-ng-click="vm.handlers.sort('Status')">Status</th>
                                <th class="_pay invoices__cell" data-ng-click="vm.handlers.sort('DueDate')">Pay due date</th>
                                <th class="_action"></th>
                            </tr>
                            <tbody>
                                <tr data-ng-repeat="invoice in vm.model.invoices" data-mt-navigate="::vm.handlers.openDetails(invoice)">
                                    <td class="_number" style="cursor: pointer;">
                                        <span class="_title"><a ng-href="{{::'/invoices/' + invoice.id}}">#{{::invoice.number}}</a></span>
                                        <span class="_hint">{{::invoice.createdDate.format('l')}}</span>
                                    </td>
                                    <td class="_client" style="cursor: pointer;">
                                        <span class="_title">{{::invoice.clientName}}</span>
                                        <span class="_hint">{{::invoice.clientEmail}}</span>
                                    </td>
                                    <td class="_amount" style="cursor: pointer;text-align: right">{{::invoice.amount | nzcurrency : invoice.settlementAssetAccuracy}}</td>
                                    <td class="_currency" style="cursor: pointer;">{{::invoice.settlementAsset}}</td>
                                    <td class="_status" style="cursor: pointer;">
                                        <span class="label" data-ng-class="::vm.handlers.getStatusCss(invoice.status)">{{::invoice.status}}</span>
                                    </td>
                                    <td class="_pay" style="cursor: pointer;">{{::invoice.dueDate.format('l')}}</td>
                                    <td class="_action">
                                        <button class="btn btn--icon" type="button"
                                                data-ng-class="::{'btn--disabled': !vm.handlers.canRemove(invoice)}"
                                                data-ng-disabled="::!vm.handlers.canRemove(invoice)"
                                                data-ng-click="::vm.handlers.remove(invoice)">
                                            <i class="btn__svg_icon svg_icon svg_icon--delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;" data-ng-if="vm.handlers.canShowMore()">
                        <button class="btn btn--flat" data-ng-click="vm.handlers.showMore()">Show more</button>
                    </div>
                </div>
            </div>
            <div data-ng-if="vm.view.showNoResults" class="invoices__empty_result empty_result">
                <div class="empty_result__img-container">
                    <img src="img/invoices-no-results.svg" />
                </div>
                <div class="empty_result__title">No search results</div>
                <div class="empty_result__description">Sorry, we couldn't find any matches “{{vm.filter.search}}”. Try using another keyword.</div>
            </div>
            <div data-ng-if="!vm.view.hasInvoices" class="invoices__empty_result empty_result">
                <div class="empty_result__img-container">
                    <img src="img/invoices-empty.svg" />
                </div>
                <div class="empty_result__title">You don't have invoices yet</div>
                <div class="empty_result__description">Create the first one by clicking “New invoice” button.</div>
            </div>
        </div>
    </section>
</article>
