@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model Lykke.Service.PayInvoicePortal.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Invoices";
}

<div data-ng-controller="invoiceCtrl as vm" ng-cloak>
    <div class="_invoice_sidebar sidebar_menu sidebar_menu--right create draft sidebar_menu--open"
         data-ng-if="vm.form.open"
         data-click-outside="vm.handlers.close()"
         data-exclude="_create_invoice_btn,btn--icon">
        <form action="" enctype="multipart/form-data" method="post" class="invoice_form sidebar_menu__inner" onsubmit="event.preventDefault();">
            <div class="sidebar_breadcrumbs">
                <button class="btn btn--icon btn_close_menu visible-xs" type="button" data-ng-click="vm.handlers.close()">
                    <i class="icon icon--close"></i>
                </button>
                <div class="breadcrumbs_item">
                    <a href="javascript:;" data-ng-click="vm.handlers.close()">Profile</a>
                </div>
                <i class="icon icon--chevron-thin-right"></i>
                <div class="breadcrumbs_item breadcrumbs_item--current">Create new invoice</div>
            </div>
            <div class="sidebar_menu__body">
                <div class="sidebar_menu__header">
                    <div class="invoice_form__title">Invoice</div>
                    <div class="invoice_form__status">Not created</div>
                </div>
                <h3>Details</h3>
                <div class="form-group">
                    <label class="control-label" for="number">Invoice number</label>
                    <input id="number" type="text" require placeholder="" class="form-control" data-ng-model="vm.model.number" data-ng-class="{'error': vm.form.errors.number}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Client</label>
                    <input id="clientName" type="text" require placeholder="" class="form-control" data-ng-model="vm.model.client" data-ng-class="{'error': vm.form.errors.client}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Client's Email</label>
                    <input id="email" type="email" require placeholder="" class="form-control" data-ng-model="vm.model.email" data-ng-class="{'error': vm.form.errors.email}">
                </div>
                <div class="row">
                    <div class="col-sm-4 _currency">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency</label>
                            <div class="form_selectpicker">
                                <select class="selectpicker" 
                                        data-selectpicker
                                        data-size="10" 
                                        data-live-search="{{vm.model.assets.length > 10}}" 
                                        data-live-search-placeholder="Asset name"
                                        data-ng-model="vm.model.settlementAsset"
                                        ng-options="asset.id as asset.title for asset in vm.model.assets"
                                        data-ng-class="{'error': vm.form.errors.settlementAsset}">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 _amount">
                        <div class="form-group">
                            <label class="control-label" for="amount">Amount</label>
                            <input id="amount" type="number" require placeholder="0.00" min="0.01" step="0.01" class="form-control" data-ng-model="vm.model.amount" data-ng-class="{'error': vm.form.errors.amount}">
                        </div>
                    </div>
                    <div class="col-sm-4 _date">
                        <div class="form-group">
                            <label class="control-label" for="dueDate">Pay due date</label>
                            <div class="input-group date datetimepicker" datetimepicker data-ng-model="vm.model.dueDate">
                                <input id="dueDate" type="text" require placeholder="" class="form-control datetimepicker" data-ng-class="{'error': vm.form.errors.dueDate}">
                                <span class="input-group-addon">
                                    <span class="icon icon--cal"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="note">Note</label>
                    <textarea name="note" id="note" class="form-control" data-ng-model="vm.model.note"></textarea>
                </div>
                <div class="form_header">
                    <button type="button" class="btn btn-sm btn-primary pull-right" ngf-select="vm.handlers.addFiles($files)" accept=".jpg,.jpeg,.png,.pdf,.doc,.docx,.xls,.xlsx,.rtf" ngf-multiple="true">Add File</button>
                    <h3>Attachment</h3>
                </div>
                <div class="attachment_list">
                    <div class="asset_link_list invoice_files" data-ng-show="vm.model.files && vm.model.files.length > 0">
                        <div class="asset_link asset_link--alt" data-ng-repeat="file in vm.model.files">
                            <div class="asset_link__icon">
                                <div class="asset_icon asset_icon--red" data-ng-bind="vm.handlers.getFileExtension(file.name)"></div>
                            </div>
                            <div class="asset_link__action">
                                <button class="btn btn--icon" data-ng-click="vm.handlers.deleteFile(file)"><i class="icon icon--delete"></i></button>
                            </div>
                            <div class="asset_link__info">
                                <div class="asset_link__title" data-ng-bind="file.name"></div>
                                <div class="asset_link__desc" data-ng-bind="vm.handlers.getFileSize(file.size)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hint invoice_files_hint" data-ng-show="!vm.model.files || vm.model.files.length === 0">No file selected</div>
                </div>
                <div class="sidebar_menu__footer">
                    <div class="form-group">
                        <button class="btn btn-block create__button" name="button" type="submit" data-ng-click="vm.handlers.save()" data-ng-disabled="vm.form.blocked">Generate</button>
                    </div>
                    <button class="btn btn--flat btn-block" type="submit" name="button" data-ng-click="vm.handlers.draft()" data-ng-disabled="vm.form.blocked">Safe draft</button>
                    <button class="btn btn--flat btn-block btn_close_menu" type="button" name="button" data-ng-click="vm.handlers.close()">Cancel and close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("/Views/Partials/InvoiceInfo.cshtml")

<article class="content" 
         data-ng-controller="invoicesCtrl as vm"
         data-ng-init="vm.handlers.init(@JsonConvert.SerializeObject(Model.List, new JsonSerializerSettings { ContractResolver = new DefaultContractResolver{NamingStrategy = new CamelCaseNamingStrategy()} }))"
         ng-cloak>
    <section class="section section--lead">
        <div class="container">
            <div class="page_header profile_header">
                <div class="section_subtitle">Current balance</div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-7" 
                                 data-ng-controller="balanceCtrl as balanceVm"
                                 data-ng-init="balanceVm.handlers.init(@JsonConvert.SerializeObject(Model.Balance, new JsonSerializerSettings { ContractResolver = new DefaultContractResolver{NamingStrategy = new CamelCaseNamingStrategy()} }))">
                                <div class="h1 value_accent" data-ng-bind="balanceVm.model.value.toLocaleString(undefined, {minimumFractionDigits: 2}) + ' ' + balanceVm.model.currency"></div>
                            </div>
                            <div class="col-xs-5">
                                <button class="btn btn--primary btn-block _create_invoice_btn" type="button" data-ng-click="vm.handlers.create()">Create new invoice</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="docs_list text-right">
                            <div class="docs_item">
                                <div class="docs_item__icon">
                                    <img src="/img/terms_icn.svg" alt="terms" width="35">
                                </div>
                                <div class="docs_item__content">
                                    <div class="docs_item__title">Export CSV file</div>
                                    <div class="docs_item__action">
                                        <a href="javascript:;" data-ng-click="vm.handlers.exportToCsv()">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Invoices</h3>
            <ul class="nav nav-tabs">
                <li><button class="btn btn--icon" data-ng-click="vm.filter.handlers.toggle()"><i class="icon icon--search"></i></button></li>
                <li class="active" data-ng-class="{'active': !vm.filter.status}"><a href="javascript:;" data-ng-click="vm.filter.handlers.clearStatus()">All &middot; <span data-ng-bind="vm.filter.total"></span></a></li>
                <li data-ng-repeat="status in vm.filter.statuses" data-ng-class="{'active': vm.filter.status == status.id}" data-ng-if="status.count > 0"><a href="javascript:;" data-ng-click="vm.filter.handlers.selectStatus(status)">{{status.title}} &middot; <span data-ng-bind="status.count"></span></a></li>
            </ul>
            <div class="search_filter" data-ng-class="{'search_filter--show': vm.filter.show}">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group select">
                            <select class="form-control" ng-model="vm.filter.period" ng-options="period.id as period.title for period in vm.filter.periods"></select>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-8">
                        <div class="input-search input-search--index">
                            <button class="btn btn--icon">
                                <img data-ng-show="vm.view.isSearching" src="img/processing.gif"/>
                                <i data-ng-hide="vm.view.isSearching" class="icon icon--search"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Number or client email..." data-ng-model="vm.filter.search" data-ng-model-options="{ debounce: 500 }">
                            <button class="btn btn--icon" data-ng-click="vm.filter.handlers.clear()"><i class="icon icon--cancel_round"></i></button>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-1">
                        <button type="button" class="btn btn--link" data-ng-click="vm.filter.handlers.close()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="table-responsive">
                        <table class="table table_invoices" data-ng-hide="vm.view.showNoResults">
                            <tr class="invoices__row" data-ng-hide="">
                                <th class="_number invoices__cell" data-ng-click="vm.handlers.sort('Number')">Invoice number, date</th>
                                <th class="_client invoices__cell" data-ng-click="vm.handlers.sort('ClientName')">Client</th>
                                <th class="_amount invoices__cell" data-ng-click="vm.handlers.sort('Amount')">Amount</th>
                                <th class="_currency invoices__cell" data-ng-click="vm.handlers.sort('SettlementAssetId')">Currency</th>
                                <th class="_status invoices__cell" data-ng-click="vm.handlers.sort('Status')">Status</th>
                                <th class="_pay invoices__cell" data-ng-click="vm.handlers.sort('DueDate')">Pay due date</th>
                                <th class="_action"></th>
                            </tr>
                            <tbody>
                                <tr data-ng-repeat="invoice in vm.model.invoices" data-mt-navigate="vm.handlers.openDetails(invoice)">
                                    <td class="_number" style="cursor: pointer;">
                                        <span class="_title"><a ng-href="{{::'/invoices/' + invoice.id}}">#{{invoice.number}}</a></span>
                                        <span class="_hint">{{invoice.createdDate.format('l')}}</span>
                                    </td>
                                    <td class="_client" style="cursor: pointer;">
                                        <span class="_title">{{invoice.clientName}}</span>
                                        <span class="_hint">{{invoice.clientEmail}}</span>
                                    </td>
                                    <td class="_amount" style="cursor: pointer;">{{invoice.amount | currency : '' : invoice.settlementAssetAccuracy}}</td>
                                    <td class="_currency" style="cursor: pointer;">{{invoice.settlementAsset}}</td>
                                    <td class="_status" style="cursor: pointer;">
                                        <span class="label" data-ng-class="::vm.handlers.getStatusCss(invoice.status)">{{invoice.status}}</span>
                                    </td>
                                    <td class="_pay" style="cursor: pointer;">{{invoice.dueDate.format('l')}}</td>
                                    <td class="_action">
                                        <button class="btn btn--icon delete" data-ng-class="{'btn--disabled': !vm.handlers.canRemove(invoice)}" data-ng-disabled="!vm.handlers.canRemove(invoice)" data-ng-click="vm.handlers.remove(invoice)" type="button">
                                            <i class="icon icon--delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center;" data-ng-if="vm.handlers.canShowMore()">
                        <button class="btn btn--flat" data-ng-click="vm.handlers.showMore()">Show more</button>
                    </div>
                </div>
            </div>
            <div data-ng-if="vm.view.showNoResults" class="invoices__empty_result empty_result">
                <div class="empty_result__img-container">
                    <img src="img/invoices-no-results.svg" />
                </div>
                <div class="empty_result__title">No search results</div>
                <div class="empty_result__description">Sorry, we couldn't find any matches “{{vm.filter.search}}”. Try using another keyword.</div>
            </div>
        </div>
    </section>
</article>
