@using Lykke.Service.PayInvoicePortal.Models
@model Lykke.Service.PayInvoicePortal.Models.InvoiceRequest
@{
    ViewData["Title"] = "Profile";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@if (ViewBag.IsInvoiceCreated != null)
{
    <script>
        window.location.href = "/";
    </script>
}
else
{
    <script>
        var generateditem = eval(@Html.Raw(ViewBag.GeneratedItem));
    </script>
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery-confirm.css" />
<div class="_invoice_sidebar sidebar_menu sidebar_menu--right create draft">
    @using (Html.BeginForm("Profile", "Home", FormMethod.Post, new { name = "createform", id = "createform", enctype = "multipart/form-data", @class = "invoice_form sidebar_menu__inner" }))
    {
        <div class="sidebar_breadcrumbs">
            <button class="btn btn--icon btn_close_menu visible-xs" type="button"><i class="icon icon--close"></i></button>
            <div class="breadcrumbs_item">
                <a href="">Profile</a>
            </div>
            <i class="icon icon--chevron-thin-right"></i>
            <div class="breadcrumbs_item breadcrumbs_item--current">Create new invoice</div>
        </div>
        <div class="sidebar_menu__body">
            <div class="sidebar_menu__header">
                <div class="invoice_form__title">Invoice</div>
                <div class="invoice_form__status">Not created</div>
            </div>

            <h3>Details</h3>
            <div class="form-group">
                <label class="control-label" for="invoice_number">Invoice number</label>
                <input type="text" asp-for="InvoiceNumber" require placeholder="" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label" for="client">Client</label>
                <input type="text" asp-for="ClientName" require placeholder="" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="email" asp-for="ClientEmail" require placeholder="" class="form-control">
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="currency">Currency</label>
                        <div class="select">
                            <select asp-for="Currency" require class="form-control">
                                @foreach (ItemViewModel item in (IReadOnlyList<ItemViewModel>)ViewBag.Assets)
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="amount">Amount</label>
                        <input type="number" asp-for="Amount" require placeholder="0.00" min="0.01" step="0.01" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="amount">Pay due date</label>
                        <div class="input-group date datetimepicker">
                            <input type="text" asp-for="StartDate" require placeholder="03.12.2017" class="form-control datetimepicker">
                            <span class="input-group-addon">
                                <span class="icon icon--cal"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="Status" class="form-control">
            <input type="hidden" asp-for="Currency" class="form-control">
            <input type="hidden" asp-for="InvoiceId" class="form-control">

            @*<div class="form-group">
                    <label class="control-label" for="note">Note</label>
                    <textarea name="note" id="note" class="form-control"></textarea>
                </div>*@

            <div class="form_header" style="position: relative;">
                <button type="button" name="button" class="btn btn-sm btn-primary pull-right invoice_files__add">Add File</button>
                <input type="file" name="upload" id="upload" class="invoice_files_input" accept=".pdf, .doc, .docx, .xls, .xlsx" multiple>
                <h3>Attachment</h3>
            </div>
            <div class="attachment_list">
                <div class="asset_link_list invoice_files" style="display: none;">
                    <div class="asset_link asset_link--alt">
                        <div class="asset_link__icon">
                            <div class="asset_icon asset_icon--red"></div>
                        </div>
                        <div class="asset_link__action">
                            <button class="btn btn--icon _delete_asset"><i class="icon icon--download"></i></button>
                        </div>
                        <div class="asset_link__info">
                            <div class="asset_link__title"></div>
                            <div class="asset_link__desc"></div>
                        </div>
                    </div>
                </div>
                <div class="hint invoice_files_hint">No file selected</div>
            </div>

            <div class="sidebar_menu__footer">
                <div class="form-group">
                    <button class="btn btn-block create__button" name="button" type="submit" id="generatebtn">Generate</button>
                </div>

                <button class="btn btn--flat btn-block" type="submit" name="button" id="draftbtn">Safe draft</button>
                <button class="btn btn--flat btn-block btn_close_menu" type="button" name="button" id="closebtn">Cancel and close</button>
            </div>
        </div>
    }
</div>

<div class="invoice_sidebar sidebar_menu sidebar_menu--right create unpaid">
    <div class="sidebar_breadcrumbs">
        <button class="btn btn--icon btn_close_menu visible-xs" type="button"><i class="icon icon--close"></i></button>
        <div class="breadcrumbs_item">
            <a href="">Profile</a>
        </div>
        <i class="icon icon--chevron-thin-right"></i>
        <div class="breadcrumbs_item breadcrumbs_item--current">Create new invoice</div>
    </div>
    <div class="sidebar_menu__body">
        <div class="sidebar_menu__header">
            <div class="invoice_form__title">Invoice</div>
            <div class="invoice_form__status">Unpaid</div>
        </div>

        <div class="asset_link_list asset_link_list--thin">
            <div class="asset_link">
                <div class="asset_link__info">
                    <div class="asset_link__title">Invoice number</div>
                    <div class="asset_link__desc" id="UnpaidNumber"></div>
                </div>
            </div>
            <div class="asset_link">
                <div class="asset_link__info">
                    <div class="asset_link__title">Client</div>
                    <div class="asset_link__desc" id="UnpaidClientName"></div>
                </div>
            </div>
            <div class="asset_link">
                <div class="asset_link__info">
                    <div class="asset_link__title">Email</div>
                    <div class="asset_link__desc" id="UnpaidClientEmail"></div>
                </div>
            </div>
            <div class="asset_link">
                <div class="asset_link__info">
                    <div class="asset_link__title">Amount</div>
                    <div class="asset_link__desc" id="UnpaidAmount"></div>
                </div>
            </div>
            <div class="asset_link">
                <div class="asset_link__info">
                    <div class="asset_link__title">Pay due date</div>
                    <div class="asset_link__desc" id="UnpaidDueDate"></div>
                </div>
            </div>
            @*<div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Note</div>
                        <div class="asset_link__desc">Invoice #45456576 will be paid within 24 hours (or faster)</div>
                    </div>
                </div>*@
            @*<div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Files</div>
                        <div class="asset_link__desc">BAS Rechnung Sponsoring Intrum - Sheet1.pdf, Order_28.xls</div>
                    </div>
                </div>*@
            <div class="asset_link">
                <div class="asset_link__action">
                    <button class="btn btn--icon _copy create__item-copy" type="button">
                        <i class="icon icon--copy_thin"></i>
                    </button>
                </div>
                <div class="asset_link__info">
                    <div class="asset_link__title">Hyperlink</div>
                    <div class="asset_link__desc" id="UnpaidUrl"></div>
                </div>
            </div>
            <div class="asset_link">
                <div class="asset_link__info">
                    <div class="asset_link__title">Share</div>
                    <div class="asset_link__desc">Send account details to email</div>
                    <div class="block_subscribe">
                        <div class="form" id="share-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <i class="icon icon--email"></i>
                                    <input type="email" placeholder="E-mail address" class="form-control" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,3}$" title="Wrong email format">
                                </div>
                                <button class="btn btn-sm btn--primary btn--circle" type="button" id="share-button"><i class="icon icon--arrow-right-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar_menu__footer">
            <div class="form-group">
                <button class="btn btn-block btn_close_menu" name="button" type="button" id="closeunpaidbtn">Close</button>
            </div>
        </div>
    </div>
</div>
<article class="content">
    <section class="section section--lead">
        <div class="container">
            <div class="page_header profile_header">
                <div class="section_subtitle">Current balance</div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="h1 value_accent balance__quantity"></div>
                            </div>
                            <div class="col-xs-5">
                                <button class="btn btn--primary btn-block _create_invoice_btn" type="button">Create new invoice</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="docs_list text-right">
                            @*<div class="docs_item">
                                    <div class="docs_item__icon">
                                        <img src="img/terms_icn.svg" alt="terms" width="35">
                                    </div>
                                    <div class="docs_item__content">
                                        <div class="docs_item__title">Export DTA file</div>
                                        <div class="docs_item__action"><a href="">Download</a></div>
                                    </div>
                                </div>
                                <div class="docs_item">
                                    <div class="docs_item__icon">
                                        <img src="img/terms_icn.svg" alt="terms" width="35">
                                    </div>
                                    <div class="docs_item__content">
                                        <div class="docs_item__title">Export XLSX file</div>
                                        <div class="docs_item__action"><a href="">Download</a></div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("~/Views/Home/InvoiceGridPartial.cshtml")
        </div>
    </section>
</article>
@section Scripts
    {
    <script src="/js/vendor/profile_vendors.min.js"></script>

    <environment include="Development">
        <script src="/js/profile.js" asp-append-version="true"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="/js/profile.min.js" asp-append-version="true"></script>
    </environment>
}
