<div *ngIf="view.isFirstLoading"
     class="main-page-loader">
  <div class="spinner spinner--inline">
    <div class="spinner__inside"></div>
  </div>
</div>

<div class="container"
     [hidden]="view.isFirstLoading">

  <!-- <div class="profile_info">
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <lp-payments-balance [baseAsset]="model.baseAsset"></lp-payments-balance>
      </div>
      <div class="col-md-8 col-sm-7">
        <lp-payments-statistic [baseAsset]="model.baseAsset"></lp-payments-statistic>
      </div>
    </div>
  </div> -->

  <div class="payments"
       *ngIf="view.hasPayments">
    <div class="row payments_header">
      <div class="col-sm-6">
        <h3 class="payments_header__title">Payments</h3>
        <button class="btn payments_header__btn">
          <i class="icon icon--add"></i>
          New invoice
        </button>
      </div>
      <div class="col-sm-6 clearfix">
        <div class="invoice_controls">
          <button class="invoice_controls__btn btn btn--flat btn--default btn-sm pull-left"
                  type="button"
                  (click)="exportToCsv()">
            <i class="btn__svg_icon svg_icon svg_icon--download svg_icon--margin"></i>
            CSV file
          </button>
        </div>
      </div>
    </div>

    <lp-payments-filter [filter]="filter"
                        (filterChanged)="onFilterChanged($event)"></lp-payments-filter>

    <div *ngIf="view.isLoading"
         style="text-align: center">
      <div class="spinner spinner--inline">
        <div class="spinner__inside"></div>
      </div>
    </div>

    <lp-payments-table [payments]="model.payments"
                       [hasMorePayments]="view.hasMorePayments"
                       (paymentRemovedEvent)="paymentRemoved($event)"
                       (showMoreEvent)="showMore()"
                       [showMoreLoading]="view.isShowMoreLoading"
                       [hidden]="view.showNoResults || view.isLoading"></lp-payments-table>



    <div *ngIf="view.showNoResults"
         class="invoices__empty_result empty_result">
      <div class="empty_result__img-container">
        <img src="img/invoices-no-results.svg" />
      </div>
      <div class="empty_result__title">No search results</div>
      <div class="empty_result__description"
           *ngIf="!filter.searchText">
        Sorry, we couldn't find any matches.
      </div>
      <div class="empty_result__description"
           *ngIf="filter.searchText">
        Sorry, we couldn't find any matches “{{filter.searchText}}”. Try using another keyword.
      </div>
    </div>
  </div>

  <div *ngIf="view.showNoInvoices"
       class="invoices__empty_result empty_result">
    <div class="empty_result__img-container">
      <img src="img/invoices-empty.svg" />
    </div>
    <div class="empty_result__title">You don't have payments yet</div>
    <div class="empty_result__description">
      Create the first one by clicking “New invoice” button.
    </div>
  </div>
</div>
