<div class="invoice_filters">
  <form>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="form_selectpicker form_selectpicker--period form-group">
          <label class="control-label">Period:</label>
          <select id="select1" class="selectpicker" data-size="10">
            <option>This month</option>
            <option>This year</option>
          </select>
          <lp-selectpicker (ngModelChange)="handlers.onChangedPeriod($event)"
             [label]="'Period:'"
             [cssClasses]="'form_selectpicker--period'"
             [(ngModel)]="model.period"
             [selectpickerOptions]="model.periods"></lp-selectpicker>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form_selectpicker form_selectpicker--type form-group">
          <label for="select2" class="control-label">Type:</label>
          <select id="select2" class="selectpicker" data-size="10">
            <option>All</option>
            <option>Draft</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="form_selectpicker form_selectpicker--status form-group">
          <label for="select3" class="control-label">Status:</label>
          <select id="select3" class="selectpicker" data-size="10">
            <option>All</option>
            <option>Paid</option>
            <option>Unpaid</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="search_filter">
          <div class="input-search input-search--index">
            <button class="btn btn--icon">
              <i class="icon icon--search"></i>
            </button>
            <input type="text" class="form-control form-control--search" placeholder="Search">
            <button class="btn btn--icon">
              <i class="icon icon--cancel_round"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
