@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model Lykke.Service.PayInvoicePortal.Models.Invoices.IndexViewModel
@{
    ViewData["Title"] = "Invoice - " + Model.Invoice.Number;
}

<div data-ng-controller="invoiceEditCtrl as vm">
    <div class="_invoice_sidebar sidebar_menu sidebar_menu--right create draft sidebar_menu--open"
         data-ng-if="vm.form.open"
         data-click-outside="vm.handlers.close()"
         data-exclude="_create_invoice_btn">
        <form action="" enctype="multipart/form-data" method="post" class="invoice_form sidebar_menu__inner" onsubmit="event.preventDefault();">
            <div class="sidebar_breadcrumbs">
                <button class="btn btn--icon btn_close_menu visible-xs" type="button" data-ng-click="vm.handlers.close()">
                    <i class="icon icon--close"></i>
                </button>
                <div class="breadcrumbs_item">
                    <a href="javascript:;" data-ng-click="vm.handlers.close()">Profile</a>
                </div>
                <i class="icon icon--chevron-thin-right"></i>
                <div class="breadcrumbs_item breadcrumbs_item--current" data-ng-bind="vm.model.number"></div>
            </div>
            <div class="sidebar_menu__body">
                <div class="sidebar_menu__header">
                    <div class="invoice_form__title">Invoice</div>
                    <div class="invoice_form__status" data-ng-bind="vm.model.status"></div>
                </div>
                <h3>Details</h3>
                <div class="form-group">
                    <label class="control-label" for="number">Invoice number</label>
                    <input id="number" type="text" require placeholder="" class="form-control" data-ng-model="vm.model.number" data-ng-class="{'error': vm.form.errors.number}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Client</label>
                    <input id="clientName" type="text" require placeholder="" class="form-control" data-ng-model="vm.model.client" data-ng-class="{'error': vm.form.errors.client}">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input id="email" type="email" require placeholder="" class="form-control" data-ng-model="vm.model.email" data-ng-class="{'error': vm.form.errors.email}">
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="currency">Currency</label>
                            <div class="select">
                                <select id="currency" class="form-control" data-ng-model="vm.model.settlementAsset" ng-options="asset.id as asset.title for asset in vm.model.assets" data-ng-class="{'error': vm.form.errors.settlementAsset}"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="amount">Amount</label>
                            <input id="amount" type="number" require placeholder="0.00" min="0.01" step="0.01" class="form-control" data-ng-model="vm.model.amount" data-ng-class="{'error': vm.form.errors.amount}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="dueDate">Pay due date</label>
                            <div class="input-group date datetimepicker">
                                <input id="dueDate" type="text" require placeholder="" class="form-control datetimepicker" data-ng-model="vm.model.dueDate" datetimepicker data-ng-class="{'error': vm.form.errors.dueDate}">
                                <span class="input-group-addon">
                                    <span class="icon icon--cal"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="note">Note</label>
                    <textarea name="note" id="note" class="form-control" data-ng-model="vm.model.note"></textarea>
                </div>
                <div class="form_header">
                    <button type="button" class="btn btn-sm btn-primary pull-right" ngf-select accept=".pdf,.doc,.docx,.xls,.xlsx" ngf-multiple="true" data-ng-model="vm.model.newFiles">Add File</button>
                    <h3>Attachment</h3>
                </div>
                <div class="attachment_list">
                    <div class="asset_link_list invoice_files" data-ng-show="vm.model.files && vm.model.files.length > 0">
                        <div class="asset_link asset_link--alt" data-ng-repeat="file in vm.model.files">
                            <div class="asset_link__icon">
                                <div class="asset_icon asset_icon--red" data-ng-bind="vm.handlers.getFileExtension(file.name)"></div>
                            </div>
                            <div class="asset_link__action">
                                <button class="btn btn--icon _delete_asset" data-ng-click="vm.handlers.removeFile(file)"><i class="icon icon--delete"></i></button>
                            </div>
                            <div class="asset_link__info">
                                <div class="asset_link__title" data-ng-bind="file.name"></div>
                                <div class="asset_link__desc" data-ng-bind="vm.handlers.getFileSize(file.size)"></div>
                            </div>
                        </div>
                        <div class="asset_link asset_link--alt" data-ng-repeat="file in vm.model.newFiles">
                            <div class="asset_link__icon">
                                <div class="asset_icon asset_icon--red" data-ng-bind="vm.handlers.getFileExtension(file.name)"></div>
                            </div>
                            <div class="asset_link__info">
                                <div class="asset_link__title" data-ng-bind="file.name"></div>
                                <div class="asset_link__desc" data-ng-bind="vm.handlers.getFileSize(file.size)"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hint invoice_files_hint" data-ng-show="!vm.model.files || vm.model.files.length === 0">No file selected</div>
                </div>
                <div class="sidebar_menu__footer">
                    <div class="form-group">
                        <button class="btn btn-block create__button" name="button" type="submit" data-ng-click="vm.handlers.save()" data-ng-disabled="vm.form.blocked">Generate</button>
                    </div>
                    <button class="btn btn--flat btn-block" type="submit" name="button" data-ng-click="vm.handlers.draft()" data-ng-disabled="vm.form.blocked">Safe draft</button>
                    <button class="btn btn--flat btn-block btn_close_menu" type="button" name="button" data-ng-click="vm.handlers.close()">Cancel and close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<article class="content"
         data-ng-controller="invoiceDetailsCtrl as vm"
         data-ng-init="vm.handlers.init(@JsonConvert.SerializeObject(Model.Invoice, new JsonSerializerSettings { ContractResolver = new DefaultContractResolver{NamingStrategy = new CamelCaseNamingStrategy()} }))"
         ng-cloak>
    <section class="section section--padding">
        <div class="container">
            <div class="relative hidden-xs hidden-sm">
                <a href="/" onclick="history.back()" class="btn_back">
                    <img src="/img/back_icn.svg" width="30" height="12" alt="back">
                </a>
            </div>
            <div class="row">
                <div class="col-md-8 automargin">
                    <div class="invoice_page">
                        <div class="invoice_header">
                            <div class="row">
                                <div class="col-md-8">
                                    <h1 class="page__title">Invoice #{{vm.model.number}}</h1>
                                    <div class="invoice_header__link" data-ng-if="vm.model.allowPay">
                                        <a data-ng-href="{{vm.model.url}}" data-ng-bind="vm.model.url"></a>
                                        <button class="btn btn--icon _copy" type="button" data-copy="vm.model.url"><i class="icon icon--copy_thin"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4" data-ng-if="vm.model.allowPay">
                                    <div class="invoice_info__qr">
                                        <img data-ng-src="https://chart.googleapis.com/chart?chs=220x220&chld=L|2&cht=qr&chl={{vm.model.url}}" alt="qr" width="130" height="130">
                                    </div>
                                </div>
                            </div>
                            <div class="invoice_header__desc">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="invoice_header__data" data-ng-bind="vm.model.dueDate.format('LL')"></div>
                                    </div>
                                    <div class="col-md-2" data-ng-if="vm.handlers.canEdit()">
                                        <button class="btn btn--flat btn--default btn-sm pull-right" type="button" data-ng-click="vm.handlers.edit()"><i class="icon icon--edit"></i> Edit invoice</button>
                                    </div>
                                    <div class="col-md-2" data-ng-if="vm.handlers.canRemove()">
                                        <button class="btn btn--flat btn--default btn-sm pull-right" type="button" data-ng-click="vm.handlers.remove()"><i class="icon icon--delete"></i> Delete invoice</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="asset_link_list asset_link_list--thin">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Client</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.client"></div>
                                        </div>
                                    </div>
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Email</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.email"></div>
                                        </div>
                                    </div>
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Status</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.status"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Amount</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.amount | currency : '' : vm.model.settlementAssetAccuracy"></div>
                                        </div>
                                    </div>
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Currency</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.settlementAsset"></div>
                                        </div>
                                    </div>
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Pay due date</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.dueDate.format('LL')"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" data-ng-if="vm.model.note">
                                    <div class="asset_link">
                                        <div class="asset_link__info">
                                            <div class="asset_link__title">Note</div>
                                            <div class="asset_link__desc" data-ng-bind="vm.model.note"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_header" data-ng-if="vm.model.files && vm.model.files.length > 0">
                            <h3>Attachment</h3>
                        </div>
                        <div class="attachment_list" data-ng-if="vm.model.files && vm.model.files.length > 0">
                            <div class="asset_link_list">
                                <div class="asset_link asset_link--alt" data-ng-repeat="file in vm.model.files">
                                    <div class="asset_link__icon">
                                        <div class="asset_icon asset_icon--red" data-ng-bind="vm.handlers.getFileExtension(file.name)"></div>
                                    </div>
                                    <div class="asset_link__action">
                                        <button class="btn btn--icon _delete_asset" data-ng-click="vm.handlers.getFile(file)"><i class="icon icon--download"></i></button>
                                    </div>
                                    <div class="asset_link__info">
                                        <div class="asset_link__title" data-ng-bind="file.name"></div>
                                        <div class="asset_link__desc" data-ng-bind="vm.handlers.getFileSize(file.size)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="@Model.BlockchainExplorerUrl" class="invoice_paid__bottom" data-ng-if="vm.model.status === 'Paid'">Blockchain Settlement</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>