.select {
    > .form-control {
        cursor: pointer;
    }
    &::after {
        pointer-events: none;
    }
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        cursor: pointer;
        height: auto;
    }
}

.attachment_list--download {
    .asset_link__icon {
        .asset_icon {
            cursor: pointer;
        }
    }
    .asset_link__info {
        .asset_link__title {
            cursor: pointer;
        }
    }
}

