.menu_overlay--open {
  z-index: 9999999; }

body {
  /* space for footer to exclude scroll flickering */
  padding-bottom: 1200px; }

.header_actions__signin {
  float: left;
  line-height: 42px;
  margin-left: 15px; }
  @media (max-width: 767px) {
    .header_actions__signin {
      line-height: 34px;
      margin-left: 8px; } }

.main-page-loader {
  text-align: center;
  height: 500px;
  margin-top: 250px; }

.payment-asset-changing-loader {
  margin-bottom: 10px; }

.bar_selected .bar_selected__overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1005; }
  .bar_selected .bar_selected__overlay > .spinner {
    top: 25%; }

.bar_selected--loading > .row {
  -webkit-filter: blur(1px);
  filter: blur(1px); }

.bar_selected--loading .bar_selected__overlay {
  display: block; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.lykkepay-api-docs__header {
  position: relative; }
  .lykkepay-api-docs__header > .loader-absolute-wrapper {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center; }

.lykkepay-api-docs__embed {
  width: 100%;
  height: 1000px;
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 0; }

.sign-request__open-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  letter-spacing: 1.5px;
  border-radius: 7px;
  font-size: 13px;
  padding: 12px 20px; }

.sign-request__hint {
  font-size: 13px;
  color: #8c94a0;
  margin-top: 8px; }

.sign-request__submit {
  padding-left: 30px;
  padding-right: 30px; }

.sign-request__result {
  border-color: transparent !important; }

.sign-request .sidebar_menu__body .control-label {
  color: #111111;
  font-weight: 600; }

.sign-request .sidebar_menu__body textarea {
  min-height: 100px;
  resize: vertical; }

.svg_icon--disabled {
  opacity: 0.3; }

.svg_icon--approve {
  background-image: url(../img/approve.svg?v=2); }

