.menu_overlay--open,
.modal_dialog {
    z-index: 1001;
}

.main-page-loader {
    text-align: center;
    height: 500px;
    margin-top: 250px;
}

.payment-asset-changing-loader {
    margin-bottom: 10px;
}
