.select > .form-control {
  cursor: pointer; }

.select::after {
  pointer-events: none; }

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  cursor: pointer;
  height: auto; }

