@using Lykke.Service.PayInvoicePortal.Controllers

<div class="header_nav_container">
    <nav class="header_nav">
        <div class="header_nav__inner">
            <div class="container header_menu_container">
                <ul class="header_nav__list nav_list">
                    <li class="nav_list__item nav_list__item--active">
                        <a href="javascript:void(0)">
                            Get started
                        </a>
                    </li>
                    <li class="nav_list__item">
                        <a href="@Url.Action(nameof(PublicApiDocsController.PublicApiDocsAsync), "PublicApiDocs")">
                            Documentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
