<div data-ng-controller="invoiceInfoCtrl as vm" ng-cloak>
    <div class="invoice_sidebar sidebar_menu sidebar_menu--right create unpaid sidebar_menu--open"
         data-ng-if="vm.form.open"
         data-click-outside="vm.handlers.close()"
         data-exclude="create__item-copy,icon--check_thin,icon--copy_thin">
        <div class="sidebar_breadcrumbs">
            <button class="btn btn--icon btn_close_menu visible-xs" type="button" data-ng-click="vm.handlers.close()">
                <i class="icon icon--close"></i>
            </button>
            <div class="breadcrumbs_item">
                <a href="javascript:;" data-ng-click="vm.handlers.close()">Profile</a>
            </div>
            <i class="icon icon--chevron-thin-right"></i>
            <div class="breadcrumbs_item breadcrumbs_item--current">{{vm.model.number}}</div>
        </div>
        <div class="sidebar_menu__body">
            <div class="sidebar_menu__header">
                <div class="invoice_form__title">Invoice</div>
                <div class="invoice_form__status">{{vm.model.status}}</div>
            </div>
            <div class="asset_link_list asset_link_list--thin">
                <div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Invoice number</div>
                        <div class="asset_link__desc">{{vm.model.number}}</div>
                    </div>
                </div>
                <div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Client</div>
                        <div class="asset_link__desc">{{vm.model.client}}</div>
                    </div>
                </div>
                <div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Client's Email</div>
                        <div class="asset_link__desc">{{vm.model.email}}</div>
                    </div>
                </div>
                <div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Amount</div>
                        <div class="asset_link__desc">{{vm.model.amount | nzcurrency : vm.model.settlementAssetAccuracy}} {{vm.model.settlementAsset}}</div>
                    </div>
                </div>
                <div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Pay due date</div>
                        <div class="asset_link__desc">{{vm.model.dueDate.format('l')}}</div>
                    </div>
                </div>
                <div class="asset_link" data-ng-show="vm.model.note">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Note</div>
                        <div class="asset_link__desc">{{vm.model.note}}</div>
                    </div>
                </div>
                <div class="asset_link" data-ng-show="vm.model.files && vm.model.files.length > 0">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Files</div>
                        <div data-ng-repeat="file in vm.model.files">
                            <div class="asset_link__desc">{{file.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="asset_link">
                    <div class="asset_link__action">
                        <button class="btn btn--icon _copy create__item-copy" type="button" data-copy="vm.model.url" data-title="Copied!">
                            <i class="btn__svg_icon svg_icon svg_icon--copy"></i>
                        </button>
                    </div>
                    <div class="asset_link__info">
                        <div class="asset_link__title">Hyperlink</div>
                        <div class="asset_link__desc">{{vm.model.url}}</div>
                    </div>
                </div>
                <div class="asset_link">
                    <div class="asset_link__info">
                        <div class="asset_link__title">Share</div>
                        <div class="asset_link__desc">Send invoice to</div>
                        <div class="block_subscribe">
                            <div class="form" id="share-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <i class="icon icon--email"></i>
                                        <input type="text" placeholder="E-mail address" class="form-control" data-ng-model="vm.share.email" data-ng-class="{'error': vm.form.errors.email}">
                                    </div>
                                    <button class="btn btn-sm btn--circle btn--primary" type="button" data-ng-click="vm.handlers.share()" data-ng-disabled="vm.share.blocked" data-tooltip data-trigger="vm.handlers.tooltipHandler(handler)" data-title="Email sent">
                                        <i class="icon icon--arrow-right-alt icon--arrow-right-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_menu__footer">
                <div class="form-group">
                    <button class="btn btn-block btn_close_menu" name="button" type="button" data-ng-click="vm.handlers.close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
