<form #cpForm="ngForm"
      class="form_signup"
      novalidate
      lpValidatorOldPasswordNotEqualled
      lpValidatorPasswordEqualled>
  <div class="form_title">
    <h2>Change password</h2>
  </div>

  <div class="form-group">
    <label class="control-label">Current password</label>
    <div class="input-group"
         [ngClass]="{'input-group--error': currentPassword.invalid && (currentPassword.touched || currentPassword.dirty)}">
      <input type="{{view.isVisibleCurrentPassword ? 'text' : 'password'}}"
             class="form-control"
             autofocus
             required
             name="currentPassword"
             #currentPassword="ngModel"
             [(ngModel)]="model.currentPassword">
      <i class="icon icon--hide input-group-addon"
         [hidden]="view.isVisibleCurrentPassword"
         (click)="view.onToggleVisibilityCurrentPassword()"></i>
      <i class="icon icon--show input-group-addon"
         [hidden]="!view.isVisibleCurrentPassword"
         (click)="view.onToggleVisibilityCurrentPassword()"></i>
    </div>
    <div class="hint hint--error"
         *ngIf="currentPassword.invalid && (currentPassword.touched || currentPassword.dirty)">Required</div>
  </div>

  <div class="form-group">
    <label class="control-label">New password</label>
    <div class="input-group"
         [ngClass]="{'input-group--error': password.invalid && (password.touched || password.dirty)}">
      <input type="{{view.isVisiblePassword ? 'text' : 'password'}}"
             class="form-control"
             required
             minlength="6"
             maxlength="128"
             name="password"
             #password="ngModel"
             [(ngModel)]="model.password">
      <i class="icon icon--hide input-group-addon"
         [hidden]="view.isVisiblePassword"
         (click)="view.onToggleVisibilityPassword()"></i>
      <i class="icon icon--show input-group-addon"
         [hidden]="!view.isVisiblePassword"
         (click)="view.onToggleVisibilityPassword()"></i>
    </div>
    <div class="hint hint--error"
         *ngIf="(password.touched || password.dirty)">
      <div *ngIf="password.errors?.required">Required</div>
      <div *ngIf="password.errors?.minlength">Minimum length is 6 characters</div>
      <div *ngIf="!password.errors && cpForm.errors?.passwordEqualled">
        The new password should be different from current password
      </div>
    </div>
  </div>
  <div class="form-group">

    <label class="control-label">Re-enter password</label>
    <div class="input-group"
         [ngClass]="{'input-group--error': (reenterPassword.touched || reenterPassword.dirty) && (reenterPassword.invalid || cpForm.errors?.passwordNotEqualled)}">
      <input type="{{view.isVisibleReenterPassword ? 'text' : 'password'}}"
             class="form-control"
             required
             name="reenterPassword"
             #reenterPassword="ngModel"
             [(ngModel)]="model.reenterPassword">
      <i class="icon icon--hide input-group-addon"
         [hidden]="view.isVisibleReenterPassword"
         (click)="view.onToggleVisibilityReenterPassword()"></i>
      <i class="icon icon--show input-group-addon"
         [hidden]="!view.isVisibleReenterPassword"
         (click)="view.onToggleVisibilityReenterPassword()"></i>
    </div>
    <div class="hint hint--error"
         *ngIf="(reenterPassword.touched || reenterPassword.dirty)">
      <div *ngIf="reenterPassword.errors?.required">Required</div>
      <div *ngIf="!reenterPassword.errors && cpForm.errors?.passwordNotEqualled">
        The password you re-entered is not equal to new password
      </div>
    </div>
  </div>

  <div class="hint--error"
       *ngIf="validation.invalidCurrentPassword">
    Current password is invalid, please correct and try again.
  </div>
  <div class="hint--error"
       *ngIf="validation.unexpectedError">
    Unexprected error occured, please contact support.
  </div>

  <div class="submit-group">
    <button class="btn btn--primary"
            type="submit"
            (click)="onSubmit()"
            [hidden]="view.isLoading"
            [disabled]="view.isLoading || cpForm.invalid">Submit</button>
    <div *ngIf="view.isLoading">
      <div class="spinner">
        <div class="spinner__inside"></div>
      </div>
    </div>
  </div>
</form>
