<form #rpForm="ngForm"
      novalidate
      lpValidatorPasswordEqualled>
  <div class="form-group">
    <label class="control-label">New password</label>
    <div class="input-group"
         [ngClass]="{'input-group--error': password.invalid && (password.touched || password.dirty)}">
      <input type="{{view.isVisiblePassword ? 'text' : 'password'}}"
             class="form-control"
             autofocus
             required
             name="password"
             #password="ngModel"
             [(ngModel)]="model.password">
      <i class="icon icon--hide input-group-addon"
         [hidden]="view.isVisiblePassword"
         (click)="onToggleVisibilityPassword()"></i>
      <i class="icon icon--show input-group-addon"
         [hidden]="!view.isVisiblePassword"
         (click)="onToggleVisibilityPassword()"></i>
    </div>
    <div class="hint hint--error"
         *ngIf="password.invalid && (password.touched || password.dirty)">Required</div>
  </div>
  <div class="form-group">
    <label class="control-label">Re-enter password</label>
    <div class="input-group"
         [ngClass]="{'input-group--error': (reenterPassword.touched || reenterPassword.dirty) && (reenterPassword.invalid || rpForm.errors?.passwordNotEqualled)}">
      <input type="{{view.isVisibleReenterPassword ? 'text' : 'password'}}"
             class="form-control"
             required
             name="reenterPassword"
             #reenterPassword="ngModel"
             [(ngModel)]="model.reenterPassword">
      <i class="icon icon--hide input-group-addon"
         [hidden]="view.isVisibleReenterPassword"
         (click)="onToggleVisibilityReenterPassword()"></i>
      <i class="icon icon--show input-group-addon"
         [hidden]="!view.isVisibleReenterPassword"
         (click)="onToggleVisibilityReenterPassword()"></i>
    </div>
    <div class="hint hint--error"
         *ngIf="(reenterPassword.touched || reenterPassword.dirty)">
      <div *ngIf="reenterPassword.errors?.required">Required</div>
      <div *ngIf="!reenterPassword.errors && rpForm.errors?.passwordNotEqualled">
        The password you re-entered is not equal
      </div>
    </div>
  </div>
  <div class="hint hint--error"
       *ngIf="validation.hasSubmitError">Token is invalid or expired.</div>
  <div class="submit-group">
    <button class="btn btn--primary"
            type="submit"
            (click)="onSubmit()"
            [hidden]="view.isLoading"
            [disabled]="view.isLoading || rpForm.invalid">Submit</button>
    <div *ngIf="view.isLoading">
      <div class="spinner">
        <div class="spinner__inside"></div>
      </div>
    </div>
  </div>
</form>
