<div [class.form_selectpicker]="!hasCustomClasses"
     [ngClass]="cssClasses"
     [attr.disabled]="disabled ? 'disabled' : null">
  <label *ngIf="label" class="control-label">{{label}}</label>
  <select class="selectpicker"
          #selectpicker
          data-size="10"
          [attr.data-live-search]="selectpickerOptions.length > 10"
          [attr.data-live-search-placeholder]="placeholder"
          [attr.disabled]="disabled ? 'disabled' : null"
          (ngModelChange)="onChangedSelectedItem($event)"
          [(ngModel)]="selectedItem">
    <option [value]="item.id"
            *ngFor="let item of selectpickerOptions">{{item.title}}</option>
  </select>
</div>
