
<script>var invoices = eval(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Result)))</script>
<div class="invoices">
    <div class="invoices__title">Invoices</div>
    <div class="invoices__head">
        <ul class="nav nav-tabs" role="tablist">
            <li>
                <button class="invoices__search" type="button">
                    <i class="icon icon--search"></i>
                </button>
            </li>
            <li role="presentation" class="active">
                <a href="#all" aria-controls="all" role="tab" data-toggle="tab" id="alllink">All ⋅ <span></span></a>
            </li>
            <li role="presentation">
                <a href="#paid" aria-controls="paid" role="tab" data-toggle="tab"id="paidlink">Paid ⋅ <span></span></a>
            </li>
            <li role="presentation">
                <a href="#unpaid" aria-controls="unpaid" role="tab" data-toggle="tab" id="unpaidlink">Unpaid ⋅ <span></span></a>
            </li>
            <li role="presentation">
                <a href="#draft" aria-controls="draft" role="tab" data-toggle="tab" id="draftlink">Draft ⋅ <span></span></a>
            </li>
        </ul>
    </div>
    <div class="profile_search">
        <div class="select profile_search__select" data-control="select">
            <div class="select__value">
                <span class="_value">In the past month</span>
            </div>
            <select id="select1" class="form-control select__elem">
                <option>In the past month</option>
                <option>In the past month2</option>
            </select>
        </div>
        <div class="profile_search__input_group">
            <button type="button" name="button" class="profile_search__button_search">
                <i class="icon icon--search"></i>
            </button>
            <input type="text" name="i1" placeholder="Asset or address…" class="form-control profile_search__input" id="searchvalue">
            <button type="button" name="button" class="profile_search__button_close"> </button>
        </div>
        <button type="button" name="button" class="profile_search__button">Cancel</button>
    </div>
    <div class="tab-content">
        <div class="invoices__table">
            <div class="invoices__row">
                <div class="invoices__cell invoices__cell--number">Invoice number, date</div>
                <div class="invoices__cell invoices__cell--client">Client</div>
                <div class="invoices__cell invoices__cell--amount">Amount</div>
                <div class="invoices__cell invoices__cell--currency">Currency</div>
                <div class="invoices__cell invoices__cell--status">Status</div>
                <div class="invoices__cell invoices__cell--date">Pay due date</div>
                <div class="invoices__cell invoices__cell--delete"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane active" id="all">
        </div>
        <div role="tabpanel" class="tab-pane" id="paid"></div>
        <div role="tabpanel" class="tab-pane" id="unpaid"></div>
        <div role="tabpanel" class="tab-pane" id="draft"></div>
    </div>
</div>
<div id="rowtemplate" style="display: none">
    <div class="invoices_item" invoice="{{InvoiceId}}">
        <div class="invoices_item__cell invoices_item__cell--number">
            <a href="/invoice/?invoiceId={{InvoiceId}}" class="invoices_item__text">#{{InvoiceNumber}}</a>
            <div class="invoices_item__text invoices_item__text--light"></div>
        </div>
        <div class="invoices_item__cell invoices_item__cell--client">
            <div class="invoices_item__text">{{ClientName}}</div>
            <div class="invoices_item__text invoices_item__text--light">{{ClientEmail}}</div>
        </div>
        <div class="invoices_item__cell  invoices_item__cell--amount">
            <div class="invoices_item__text invoices_item__text--small">{{Amount}}</div>
        </div>
        <div class="invoices_item__cell invoices_item__cell--currency">
            <div class="invoices_item__text invoices_item__text--small">{{Currency}}</div>
        </div>
        <div class="invoices_item__cell invoices_item__cell--status">
            <div class="invoices_item__status invoices_item__status--{{CssClass}}"> {{Status}} </div>
        </div>
        <div class="invoices_item__cell invoices_item__cell--date">
            <div class="invoices_item__text invoices_item__text--small">{{StartDate}}</div>
        </div>
        <div class="invoices_item__cell invoices_item__cell--delete">
            <button class="btn btn--icon {{DisCssClass}} " type="button"  {{disoption}}>
                <i class="icon icon--trash"></i>
            </button>
        </div>
    </div>
</div>