@model Lykke.Pay.Invoice.Models.InvoiceRequest
@{
    ViewData["Title"] = "Profile";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using (Html.BeginForm())
{
    <div class="create">
        <ul class="create__top">
            <li class="create__top-item">
                <a href="#" class="create__top-link">Profile</a>
            </li>
            <li class="create__top-arrow">
                <i class="icon icon--chevron-thin-right"></i>
            </li>
            <li class="create__top-item"> Creat new invoice </li>
        </ul>
        <div class="create__body">
            <div class="create__title">Invoice</div>
            <div class="create__form">
                <div class="create__input-group">
                    <label class="create__input-label">Invoice number</label>
                    <input type="text" asp-for="InvoiceNumber" placeholder="" class="form-control">
                </div>
                <div class="create__input-group">
                    <label class="create__input-label">Client</label>
                    <input type="text" asp-for="ClientName" placeholder="" class="form-control">
                </div>
                <div class="create__input-group">
                    <label class="create__input-label">Email</label>
                    <input type="email" asp-for="ClientEmail" placeholder="" class="form-control">
                </div>
                <div class="create__input-group">
                    <div class="create__input-amount">
                        <label class="create__input-label">Amount</label>
                        <div class="input-group">
                            <span class="">CHF</span>
                            <input type="text" asp-for="Amount" placeholder="0.00" class="form-control">
                        </div>
                    </div>
                    <div class="create__input-date">
                        <label class="create__input-label">Pay due date</label>
                        <div class="input-group">
                            <i class="icon icon--cal"></i>
                            <input type="text" asp-for="StartDate" placeholder="03.12.2017" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" asp-for="Status" class="form-control">
            <input type="hidden" asp-for="InvoiceId" class="form-control">
            <div class="create__item">
                <div class="create__item-name">Status</div>
                <div class="create__item-description">Not created</div>
            </div>
            <div class="create__actions">
                <button type="submit" name="button" class="btn create__button" id="generatebtn">Generate</button>
                <button type="submit" name="button" class="btn btn--stroke create__link" id="draftbtn">Safe draft</button>
                <button type="button" name="button" class="btn btn--stroke create__link" id="closebtn">Cancel and close</button>
            </div>
        </div>
    </div>
}
<article class="">
    <div class="container-full">
        <div class="profile">
            <div class="balance">
                <div class="balance__title">Current balance</div>
                <div class="balance__row">
                    <div class="balance__left">
                        <span class="balance__quantity">10,000 CHF</span>
                        <button type="button" name="button" class="btn btn_create balance__button">Create new invoice</button>
                    </div>
                    <div class="balance__export">
                        Export XLSX file
                        <a href="#" class="balance__download">Download</a>
                    </div>
                    <div class="balance__export">
                        Export DTA file
                        <a href="#" class="balance__download">Download</a>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Home/InvoiceGridPartial.cshtml")
            
        </div>
    </div>
</article>
<script src="/js/vendor/jquery.min.js"></script>
<script src="~/js/profile.js"></script>