@using Lykke.Service.PayInvoicePortal.Models.Home.Template
@model HomeStatisticItemModel

<div class="profile_summary__item clearfix" data-ng-show="vm.statistic.main.hasOwnProperty('@Model.Status')">
    <div class="profile_summary__status_name">@Model.Status</div>
    <div class="profile_summary__status_value">{{vm.statistic.main.@Model.Status | nzcurrency : vm.model.baseAssetAccuracy}} {{vm.model.baseAsset}}</div>
</div>