
<div data-ng-controller="invoicesSummaryStatisticCtrl as vm" ng-cloak>
    <div class="sidebar_menu sidebar_menu--right sidebar_menu--open"
         data-ng-if="vm.statistic.open"
         data-click-outside="vm.handlers.close()"
         data-exclude="create__item-copy,icon--check_thin,icon--copy_thin">
        <div class="sidebar_breadcrumbs">
            <button class="btn btn--icon btn_close_menu visible-xs" type="button" data-ng-click="vm.handlers.close()">
                <i class="icon icon--close"></i>
            </button>
            <div class="breadcrumbs_item">
                <a href="javascript:;" data-ng-click="vm.handlers.close()">Profile</a>
            </div>
            <i class="icon icon--chevron-thin-right"></i>
            <div class="breadcrumbs_item breadcrumbs_item--current">Summary statistic</div>
        </div>
        <div class="sidebar_menu__body">
            <div class="sidebar_menu__header">
                <div class="invoice_form__title"></div>
                <div class="invoice_form__status">Summary statistic</div>
            </div>
            <div class="sidebar_summary">
                <div class="sidebar_summary__item"
                     data-ng-repeat="summaryByStatus in vm.statistic.summary">
                    <div class="sidebar_summary__header">{{::summaryByStatus.status}}</div>
                    <div class="sidebar_summary__list">
                        <div class="sidebar_summary__row sidebar_summary__row--header clearfix">
                            <div class="sidebar_summary__td sidebar_summary__td--first">Currency</div>
                            <div class="sidebar_summary__td sidebar_summary__td--second">Total</div>
                            <div class="sidebar_summary__td sidebar_summary__td--third">Invoices</div>
                        </div>
                        <div class="sidebar_summary__row clearfix"
                             data-ng-repeat="summaryItem in summaryByStatus.items">
                            <div class="sidebar_summary__td sidebar_summary__td--first">{{::summaryItem.asset}}</div>
                            <div class="sidebar_summary__td sidebar_summary__td--second">{{::summaryItem.total | nzcurrency : summaryItem.assetAccuracy}}</div>
                            <div class="sidebar_summary__td sidebar_summary__td--third">{{::summaryItem.count}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar_menu__footer">
                <div class="form-group">
                    <button class="btn btn-block btn_close_menu" name="button" type="button" data-ng-click="vm.handlers.close()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
