@using Lykke.Service.PayInvoicePortal.Models.Invoice
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model PaymentDetailsModel
@{
    ViewData["Title"] = "Invoices";
}
<article class="content" data-ng-controller="checkoutCtrl as vm" data-ng-init="vm.handlers.init(@JsonConvert.SerializeObject(Model, new JsonSerializerSettings { ContractResolver = new DefaultContractResolver{NamingStrategy = new CamelCaseNamingStrategy()} }))">
    <section class="section section--padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-6 automargin">
                    <div class="invoice_header text-center">
                        <h1 class="page__title">Invoice #{{vm.model.number}}</h1>
                        <div class="invoice_header__subtitle">by {{vm.model.merchant}}</div>
                    </div>

                    <div data-ng-if="vm.model.waiting">
                        <div class="invoice_info">
                            <div class="invoice_info__left">
                                <div class="invoice_info__qr">
                                    <img data-ng-src="{{vm.model.qrCode}}" alt="qr" width="220" height="220">
                                </div>
                                <div class="invoice_info__loader">
                                    <div class="pie">
                                        <div class="pie_inner">
                                            <div class="pie_half">
                                                <div class="pie_circle-right" style="background-color: #0388ef;">
                                                    <div class="pie_blocker-1" style="background-color: #f3f4f5;" ng-style="{'transform': vm.pie.transform1, '-webkit-transform': vm.pie.transform1, '-ms-transform': vm.pie.transform1 }"></div>
                                                </div>
                                            </div>
                                            <div class="pie_half pie_half-left">
                                                <div class="pie_circle-left" style="background-color: #0388ef;">
                                                    <div class="pie_blocker-2" style="background-color: #f3f4f5;" ng-style="{'transform': vm.pie.transform2, '-webkit-transform': vm.pie.transform2, '-ms-transform': vm.pie.transform2 }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span data-ng-if="vm.timer.seconds > 60">{{vm.timer.mins}} min remaining…</span>
                                    <span data-ng-if="vm.timer.seconds > 0 && vm.timer.seconds <= 60">{{vm.timer.seconds}} sec remaining…</span>
                                    <span data-ng-if="vm.timer.seconds === 0">Updating…</span>
                                </div>
                            </div>
                            <div class="invoice_info__right">
                                <div class="invoice_info__row">
                                    <div class="invoice_info__value">
                                        {{vm.model.paymentAmount | currency : '' : vm.model.paymentAssetAccuracy}} {{vm.model.paymentAsset}}
                                    </div>
                                    <span class="invoice_info__title">FOR PAYMENT</span>
                                </div>
                                <div class="invoice_info__row">
                                    <div class="invoice_info__value invoice_info__value--thin">1 {{vm.model.paymentAsset}} = {{vm.model.exchangeRate.toLocaleString(undefined, {minimumFractionDigits: vm.model.settlementAssetAccuracy})}} {{vm.model.settlementAsset}}</div>
                                    <span class="invoice_info__title">Exchange rate</span>
                                    <div class="invoice_info__hint">Includes {{vm.model.spreadPercent.toLocaleString(undefined, {style: 'percent', minimumFractionDigits: 1})}} uplift for covering the exchange risk and the {{vm.model.feePercent.toLocaleString(undefined, {style: 'percent', minimumFractionDigits: 1})}} fee</div>
                                </div>
                                <div class="invoice_info__row">
                                    <div class="invoice_info__value">{{vm.model.settlementAmount.toLocaleString(undefined, {minimumFractionDigits: vm.model.settlementAssetAccuracy})}} {{vm.model.settlementAsset}}</div>
                                    <span class="invoice_info__title">Original</span>
                                </div>

                                <hr class="hidden-xs">

                                <div class="hint hidden-xs" data-ng-if="vm.timer.seconds > 60">The address will be invalid in {{vm.timer.mins}} {{vm.timer.mins === 1 ? 'minute' : 'minutes'}} due to inactivity</div>
                                <div class="hint hidden-xs" data-ng-if="vm.timer.seconds > 0 && vm.timer.seconds <= 60">The address will be invalid in {{vm.timer.seconds}} seconds due to inactivity</div>
                                <div class="hint hidden-xs" data-ng-if="vm.timer.seconds === 0">Updating…</div>
                            </div>
                        </div>
                        <div class="asset_link_list">
                            <div class="asset_link">
                                <div class="asset_link__action">
                                    <button id="btn-copy-wa" class="btn btn--icon _copy" type="button" data-copy="vm.model.walletAddress"><i class="icon icon--copy_thin"></i></button>
                                </div>
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Payment address</div>
                                    <div class="asset_link__desc" data-ng-bind="vm.model.walletAddress"></div>
                                </div>
                            </div>
                            <div class="asset_link">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Pay Due Date</div>
                                    <div class="asset_link__desc" data-ng-bind="vm.model.dueDate.format('LL')"></div>
                                </div>
                            </div>
                            <div class="asset_link" data-ng-if="vm.model.note">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Note</div>
                                    <div class="asset_link__desc" data-ng-bind="vm.model.note"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-if="!vm.model.waiting">
                        <div class="alert alert--green" role="alert">
                            <table>
                                <tr>
                                    <td>
                                        <span class="label label--text label--white">Paid</span>
                                    </td>
                                    <td class="text-right">
                                        <i class="icon icon--check_circle hidden-xs"></i>
                                        Invoice has been paid <span class="hidden-xs"> on 15.05.2016</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="asset_link_list">
                            <div class="asset_link">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">For payment</div>
                                    <div class="asset_link__desc">{{vm.model.paymentAmount.toLocaleString(undefined, {minimumFractionDigits: vm.model.paymentAssetAccuracy})}} {{vm.model.paymentAsset}}</div>
                                </div>
                            </div>
                            <div class="asset_link">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Exchange rate</div>
                                    <div class="asset_link__desc">1 {{vm.model.paymentAsset}} = {{vm.model.exchangeRate.toLocaleString(undefined, {minimumFractionDigits: vm.model.settlementAssetAccuracy})}} {{vm.model.settlementAsset}}</div>
                                </div>
                            </div>
                            <div class="asset_link">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Original</div>
                                    <div class="asset_link__desc">{{vm.model.settlementAmount.toLocaleString(undefined, {minimumFractionDigits: vm.model.settlementAssetAccuracy})}} {{vm.model.settlementAsset}}</div>
                                </div>
                            </div>
                            <div class="asset_link">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Pay Due Date</div>
                                    <div class="asset_link__desc" data-ng-bind="vm.model.dueDate.format('LL')"></div>
                                </div>
                            </div>
                            <div class="asset_link">
                                <div class="asset_link__info">
                                    <div class="asset_link__title">Note</div>
                                    <div class="asset_link__desc" data-ng-bind="vm.model.note"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div data-ng-if="vm.model.files && vm.model.files.length > 0">
                        <h4>Attachment</h4>
                        <div class="asset_link_list">
                            <div class="asset_link asset_link--alt" data-ng-repeat="file in vm.model.files">
                                <div class="asset_link__icon">
                                    <div class="asset_icon asset_icon--red" data-ng-bind="vm.handlers.getFileExtension(file.name)"></div>
                                </div>
                                <div class="asset_link__action">
                                    <button class="btn btn--icon _delete_asset" data-ng-click="vm.handlers.getFile(file)"><i class="icon icon--download"></i></button>
                                </div>
                                <div class="asset_link__info">
                                    <div class="asset_link__title" data-ng-bind="file.name"></div>
                                    <div class="asset_link__desc" data-ng-bind="vm.handlers.getFileSize(file.size)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>